.discover{
    &__content{
        display: flex;
        justify-content: flex-start;
        column-gap: 400px;
        margin-top: 255px;
        &-sidebar{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            margin-top: 140px;
        }
        &-follow{
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            transform: rotate(90deg);
            position: relative;
            left: -30px;
            top: -40px;
        }
        &-subtitle{
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 6px;
            text-transform: uppercase;
            color: #FFC178;;
            position: relative;
            left: 104px;
            &::before{
                content: '';
                position: absolute;
                width: 72px;
                height: 2px;
                background-color: #FFC178;;
                left: -104px;
                top: 12px;
            }
        }
        &-title{
            padding-top: 32px;
            font-weight: 700;
            font-size: 96px;
            line-height: 100px;
            text-transform: capitalize;
            &Span{
                font-weight: 400;
            }
        }
        &-scrollDown{
            display: flex;
            justify-content: center;
            padding-top: 126px;
            column-gap: 10px;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
        }
    }
}